.offer-card:hover{
    background-color: rgb(104, 122, 62);
}
.offer-btn{
    color:rgb(236, 236, 236);
    border-radius: 15px;
    padding: 5px 15px;
    background-color: rgb(13, 34, 9);
    border: none;
}
.offer-btn:hover{
    background-color:lemonchiffon;
    color: black;
    padding: 5px 20px;
}
.offer-img{
    padding: 15px;
}
